<nav id="home-sub-navbar">
    <div class="sub-nav-links" id="link-flags">
        <a href="#flag-section">Flags</a>
    </div>
    <div class="sub-nav-links" id="link-globe">
        <a href="#globe-section">Globe</a>
    </div>
</nav>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    #home-sub-navbar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #0e76a8;
        height: 40px;
        width: 100%;
        position: sticky;
        top: 8.5%;
    }
    .sub-nav-links{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100px;
        margin: 0px 10px;
    }
    .sub-nav-links a{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-decoration: none;
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        color: white;
    }
    .sub-nav-links a:hover{
        background-color: black;
        color: white;
    }
</style>