<form action="" id="login-form">
    <div id="username-container">
        <label for="username-input" id="username-label">Username or email address</label>
        <input type="text" id="username-input">
    </div>
    <div id="password-container">
        <label for="password-input" id="password-label">Password</label>
        <input type="password" id="password-input">
        <div id="forgot-password-container">
            <a href="">Forgot password</a>
        </div>
    </div>
    <button type="submit">Login</button>
</form>