<nav id="navbar">
    <div id="name-icon">
        <div id="icon" onclick=window.location.href='/'>
            <%- include('./_globe-icon.ejs') %> 
            <!-- <img src="/img/icon.png" alt=""> -->
        </div>
        <div id="name">THE WORLD</div>
    </div>
    <div id="link-container">
        <div class="navbar-link" id="link1">
            <a href="/">Home</a>
        </div>
        <div class="navbar-link" id="link2">
            <a href="/maps">Map</a>
        </div>
    </div>
    <div id="login-signup-container">
        <% if(!req.isAuthenticated()){ %>
            <div id="login-link">
                <a href="/login">Login</a>
            </div>
            <div id="sign-up-link">
                <a href="/signup">Sign Up</a>
            </div>
        <% } %>
        <% if(req.isAuthenticated()){ %>
            <%- include('./logout-form') %>
        <% } %>    
    </div>
</nav>
<style>
    #navbar{
        display: flex;
        background-color: rgba(255, 255, 255, 0.25);
        height: 70px;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 0%;
    }
    #name-icon{
        display: flex;
        width: 100%;
        height: 80%;
        margin: 1px;
        padding: 0px 5px; 
        justify-content: flex-start;
        align-items: center;
    }
    #name{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.2rem;
        font-family: 'Black Ops One', cursive;
        color: white;
        width: 35%;
        height: 100%;
    }
    #icon{
        display: flex;
        justify-content: center;
        width: 10%;
        height: 100%;
        padding: 0 5px;
    }
    #link-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 80%;
        padding: 0px 10px;
    }
    .navbar-link{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 12%;
        margin: 0px 5px;
    }
    .navbar-link a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        text-decoration: none;
        color: white;
        font-family: var(--font1);
    }
    .navbar-link a:hover{
        background-color: black;
    }
    #login-signup-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 80%;
        margin: 0px 10px;
        padding: 0px 5px;
        border: solid 1px white;
        border-radius: 10px;
    }
    #login-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 90%;
        margin: 0px 5px;
    }
    #login-link a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 95%;
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
        border-radius: 10px;
    }
    #login-link a:hover{
        background-color:  #0e76a8;
    }
    #sign-up-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 90%;
    }
    #sign-up-link a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 95%;
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
        border-radius: 10px;
    }
    #sign-up-link a:hover{
        background-color:  #0e76a8;
    }
    #logout-button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 90%;
        font-size: 1rem;
        color: white;
        background-color: black;
        border-radius: 10px;
    }
    #logout-button:hover{
        background-color: #0e76a8;
    }
</style>