<nav id="navbar">
    <ul>
        <li class="nav-items">
            <a href="">Home</a>
        </li>
        <li class="nav-items">
            <a href="">Quiz</a>
        </li>
        <li class="nav-items">
            <a href=""></a>
        </li>
    </ul>
</nav>