<nav id="navbar">
    <div id="name-icon">
        <div id="icon" onclick=window.location.href='/'>
            <img src="/img/icon.png" alt="">
        </div>
        <div id="name">THE WORLD</div>
    </div>
    <div id="links">
    </div>
</nav>