<form action="/country" method="GET" id="search-form">
    <input type="text" id="search-box" placeholder=" Search country.." name="name" > 
    <button type="submit" id="search-button">Search</button>
</form>