<form action="/weather" method="GET" id="search-form">
    <input type="text" id="search-box" placeholder=" Search country.." name="city" > 
    <button type="submit" id="search-button">Search</button>
</form>