<div id="show-hide-button">S</div>
    <div id="side-navigation-panel">
        <div class="nav-list" id="list-home" onclick="location.href='./country?name=<%= countryData.name %> '" >Home</div>
</div>
<script src="./js/side-nav-panel.js"></script>