<form action="" id="signup-form">
    <div class="form-containers" id="name-container">
        <label class="form-label" for="name-input" id="name-label">Name</label>
        <input class="form-input" type="text" id="name-input">
    </div>
    <div class="form-containers" id="username-container">
        <label class="form-label" for="username-input" id="username-label">Username or email address</label>
        <input class="form-input" type="text" id="username-input">
    </div>
    <div class="form-containers" id="email-container">
        <label class="form-label" for="email-input" id="email-label">Email</label>
        <input class="form-input" type="text" id="email-input">
    </div>
    <div class="form-containers" id="password-container">
        <label class="form-label" for="password-input" id="password-label">Password</label>
        <input class="form-input" type="password" id="password-input">
    </div>
    <div class="form-containers" id="button-container">
        <button type="submit">Signup</button>
    </div>
</form>