<form action="/signup" method="POST" id="signup-form">
    <div class="form-containers" id="name-container">
        <label class="form-label" for="name-input" id="name-label">Name</label>
        <input class="form-input" type="text" name="name" id="name-input" required>
    </div>
    <div class="form-containers" id="username-container">
        <label class="form-label" for="username-input" id="username-label">Username or email address</label>
        <input class="form-input" type="text" name="username" id="username-input" required>
    </div>
    <div class="form-containers" id="email-container">
        <label class="form-label" for="email-input" id="email-label">Email</label>
        <input class="form-input" type="text" name="email" id="email-input" required>
    </div>
    <div class="form-containers" id="password-container">
        <label class="form-label" for="password-input" id="password-label">Password</label>
        <input class="form-input" type="password" name="password" id="password-input" required>
    </div>
    <div class="form-containers" id="button-container">
        <button type="submit">Signup</button>
    </div>
</form>

<style>
    #signup-form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90%;
    }
    .form-containers{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 10px 0px;
    }
    .form-label{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 40px;
        font-size: 1.5rem;
        color: white;
    }
    .form-input{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 30px;
        border: solid 2px black;
        border-radius: 10px;
    }
    #button-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 35px;
    }
    #button-container button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 100%;
        font-size: 1.2rem;
        border-radius: 5px;
    }
</style>