<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/country-edit.css">
</head>
<body>
    <%- include('./partials/_navbar') %>
    <section id="main-section">
        <div id="intro-section">
            <div id="heading">
            </div>  
        </div>
        <div id="main-container">
            <aside id="left-aside">
            </aside>
            <article id="main-article">
                <form action="/country/<%= countryData.id %>?_method=PUT" method="POST">
                    <button id="submit-button" type="submit">Update</button>
                    <%- include('./partials/_edit-form') %>  
                </form>
            </article>
            <aside id="right-aside">
            </aside>
        </div>
    </section>
    <footer>
        <div id="footer">
            
        </div>
    </footer>
</body>
<script src="country.js"></script>
</html>