<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wecome to THE WORLD</title>
    <link rel="stylesheet" href="/css/country-edit.css">
</head>
<body>
    <%- include('./partials/_navbar') %>
    <section id="main-section">
        <div id="intro-section">
            <div id="heading">
            </div>  
        </div>
        <div id="main-container">
            <aside id="left-aside">
                <%- include('./partials/_side-panel') %> 
            </aside>
            <article id="main-article">
                <form action="/country/<%= countryData.id %>?_method=PUT" method="POST">
                    <button id="submit-button" type="submit">Update</button>
                    <%- include('./partials/_edit-form') %>  
                </form>
            </article>
            <aside id="right-aside">
            </aside>
        </div>
    </section>
    <footer>
        <div id="footer">
            
        </div>
    </footer>
    <!-- Scripts -->
    <!-- side-panel script      -->
    <script>
        const show_button=document.querySelector('#show-hide-button');
        let hide_status=false;
        show_button.addEventListener('click',(e)=>{
            let left_aside=document.querySelector('#left-aside');
            let nav_panel=document.querySelector('#side-navigation-panel');
            if(!hide_status){
                left_aside.style.width="80px";
                nav_panel.style.display="none";
                hide_status=true;
            }
            else{
                left_aside.style.width="25%";
                nav_panel.style.display="flex";
                hide_status=false;
            }
        });
    </script>
</body>
</html>