<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/country-edit.css">
</head>
<body>
    <%- include('./partials/_navbar') %>
    <section id="main-section">
        <div id="intro-section">
            <div id="heading">
                <h2>The World</h2>
            </div>  
        </div>
        <div id="main-container">
            <aside id="left-aside">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ad unde tenetur veritatis dicta nulla autem nihil voluptate quidem consequatur necessitatibus, beatae fugiat sed impedit aspernatur illo, eum rem culpa quisquam expedita! Impedit, expedita.
            </aside>
            <article id="main-article">
                <form action="/country/<%= countryData.id %>?_method=PUT" method="POST">
                    <%- include('./partials/_edit-form') %> 
                    <button type="submit">Update</button> 
                </form>
            </article>
            <aside id="right-aside">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque maiores porro, recusandae perspiciatis veniam eveniet magnam illo odio dolores consequatur eius, pariatur aperiam quod, expedita excepturi laborum alias id. Explicabo.
            </aside>
        </div>
    </section>
    <footer>
        <div id="footer">
            
        </div>
    </footer>
</body>
<script src="country.js"></script>
</html>