<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/g-map.css">
    <title>Welcome to THE WORLD</title>
</head>
<body>
    <%- include('./partials/_navbar') %>
    <section id="main-section">
        <div id="intro-section"></div>
        <div id="main-container">
            <aside id="left-aside">
                <div id="show-hide-button">S</div>
                <div id="side-navigation-panel">
                    <div class="nav-list" id="list-home" onclick="location.href='/maps' " >Home</div>
                </div>
            </aside>
            <article id="main-article">
                <div id="map-container">

                </div>
            </article>
            <aside id="right-aside"></aside>
        </div>
        <footer></footer>
    </section>
    <!-- scripts -->
    <script src="./js/side-nav-panel.js"></script> 
</body>
</html>