<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to THE WORLD</title>
</head>
<body>
    <%- include('./partials/_navbar') %>
    <section id="main-section">
        <div id="intro-section"></div>
        <div id="main-container">
            <aside id="left-aside"></aside>
            <div id="main-article"></div>
            <aside id="right-aside"></aside>
        </div>
        <footer></footer>
    </section> 
</body>
</html>