<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to THE WORLD</title>
    <link rel="stylesheet" href="./css/style1.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Monoton&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/_navbar') %> 
    <section id="home-section">
        <div id="main-heading">Welcome to THE WORLD</div>
        <div id="search-container">
            <%- include('./partials/_search_bar.ejs') %>
            <div id="suggestion-box" class="suggestions" > 
                <!-- <div></div> -->
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </section>
    <section id="flag-section">
        <div id="flag-table">
            <% var count=0; %>
            <% for(row=0;row<19;row++){ %> 
            <div class="row">
                <% for(col=0;col<13;col++){ %>
                <%     var countryName=countryNames[count].name %>
                <%     var countryCode=countryNames[count].code%> 
                <%     count++; %>
                <div class="column" id="afghansiatan"  onclick="location.href='./country?name=<%= countryName %> '">
                    <img src="./img/flags/<%= countryCode %>.png" alt="" >
                </div>
                <% } %>  
            </div>
            <% } %>
        </div>
    </section>
    <footer>
        <div id="footer">
            copyright &copy;
        </div>
    </footer>
</body>

<script src="js/jquery-3.5.1.js"></script>
<script src="queries.js"></script>
</html>