<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/login-page.css">
    <title>Welcome to THE WORLD</title>
</head>
<body>
    <%- include('./partials/_navbar') %> 
    <%- include('./partials/_home-sub-nav') %> 
    <section id="login-section">
        <div id="login-heading">Welcome to THE WORLD</div>
        <div id="login-container">
            <%- include('./partials/_login-form.ejs') %> 
        </div>
    </section>
    <footer>
        <div id="footer">
            copyright &copy;
        </div>
    </footer>
</body>
</html>