
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

:root{
    --font1 : 'Roboto', sans-serif;
    --font2 : 'Black Ops One', cursive;
}
html,body {
    margin:0;
    padding:0;
    background-color: black;
}

/* Navigation bar section */

/* Main section */

#main-section{
    display: flex;
    flex-direction: column;
    height: 1100px;
    flex-direction: column;
    background: url('../img/background-world2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#intro-section{
    display: flex;
    flex-direction: row;
    /* background-color: aquamarine; */
    background-color: black;
}
#heading{
    display: flex;
    width: 100%;
    height: 50px;
}
#edit{
    display:  flex;
    justify-content: flex-end;
    width: 100%;
}
#edit a{
    display: flex;
    /* background-color: blue; */
    background-color: green;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    border-radius: 20px;
    width: 10%;
    margin: 5px;
    padding: 5px 5px;
}
#main-container{
    display: flex;
    flex-direction: row;
    /* background-color: burlywood; */
    height: 1000px;
}
#left-aside{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: darkorange; */
    background-color: rgba(0, 0, 0, 0.5);
    width: 25%;
}
#show-hide-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: solid 1px white;
    margin: 5px;
    color: white;
    cursor: pointer;

}
#side-navigation-panel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: aqua; */
    width: 100%;
    height: 500px;
    margin: 5px 0px;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    /* background-color: blue; */
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    color: white;
    font-family: var(--font1);
    cursor: pointer;
}
.nav-list:hover{
    background-color: rgba(0, 0, 0, 0.7);
}
#main-article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: springgreen; */
    /* background-color: white; */
    height: 100%;
    width: 100%;
    padding: 10px 10px;
}

#topic{
    /* background-color: blue; */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px 5px;
    height: 350px;
    border-radius: 10px;
}
#identity-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
}
#name-container{
    display: flex;
    width: 95%;
    height: 95%;
    flex-direction: column;
    margin: 3px 3px;
    /* background-color: tomato; */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: solid white 1px;
    border-radius: 10px;
    padding: 0px 10px;
}
#primary-name-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 3px 3px;
    /* background-color: cadetblue; */
    /* background-color: black; */
    padding: 0px 0px;
}
#primary-name{
    text-align: center;
    font-size: 3rem;
    font-family: var(--font1);
    padding: 10px 10px;
}
#official-name-container{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.6rem;
    margin: 3px 3px;
    /* background-color: cadetblue; */
    /* background-color: black; */
}
#official-name{
    text-align: center;
    padding: 5px 5px;
    font-family: var(--font1);
}
#national-media-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 95%;
    margin: 3px 3px;
}   
#national-symbol-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;
    /* background-color: tomato; */
    background-color: rgba(0, 0, 0, 0.5);
}
#flag-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95%;
    padding: 5px 5px;
    /* background-color: cadetblue; */
    /* background-color: black; */
    text-align: center;
}
#flag-container img{
    max-width: 100%;
    max-height: 100%;
}
#emblem-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95%;
    padding: 5px 5px;
    /* background-color: cadetblue; */
    /* background-color: black; */
    text-align: center;
}
#national-anthem-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 95%;
    height: 95%;
}
#national-anthem-name-container{
    display: flex;
    width: 100%;
    height: 100%;
}
/*
#anthem-name-local{
    display: flex;
    width: 100%;
    height: 100%;
}
#anthem-name-english{
    display: flex;
    width: 100%;
    height: 100%;
}
*/
#national-anthem-audio-container{
    display: flex;
    width: 100%;
    height: 100%;
}
/*
#anthem-play-button{

}
#status-anthem-status-bar{

}
#anthem-time-status{

} */
#map-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 98%;
    border: solid 1px white;
    border-radius: 10px;
}
#country-on-gmap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    background-color: rgba(0, 0, 0, 0.5);
    height: 200px;
    margin: 3px;
    padding: 5px;
    border-radius: 10px;
}
#description{
    display: flex;
    width: 98%;
    height: 98%;
    padding: 3px 3px;
    /* background-color: yellow; */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: solid white 2px;
    border-radius: 10px;
    padding: 10px 10px;
    font-family: var(--font1);
}
.fact-container{
    display: flex;
    flex-direction: row;
    margin: 3px;
    /* background-color: blue; */
    background-color: rgba(0, 0, 0, 0.5);
    font-family: var(--font1);
}
#fact-container1{
    display: flex;
    justify-content: center;
    height: 300px;
    /* background-color: blue; */
}
#fact-container2{
    display: flex;
    justify-content: center;
    height: 250px;
    /* background-color: blue; */
}
.sub-fact-container{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 3px;
}
#sub-fact-cont1{
    /* width: 100%;
    margin: 3px; */
    /* background-color: tomato; */
    /* background-color: rgba(0, 0, 0, 0.5); */
}
#sub-fact-cont2{
    /* width: 100%;
    margin: 3px; */
    /* background-color: tomato; */
    /* background-color: rgba(0, 0, 0, 0.5); */
}
#sub-fact-cont3{
    /* width: 100%;
    margin: 3px; */
    /* background-color: tomato; */
    /* background-color: black; */
}
#sub-fact-cont4{
    width: 100%;
    margin: 3px;
    /* background-color: tomato; */
    /* background-color: black; */
}
.facts{
    display: flex;
    flex-direction: row;
    margin: 3px 3px;
    height: 90%;
   }
.fact-group-heading{
    display: flex;
    width: 95%;
    height: 90%;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
}
.fact-label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin: 2px 10px;
    padding: 0px 20px;
    /* background-color: yellow;  */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.fact-value{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin: 2px 10px;
    padding: 0px 20px;
    /* background-color: yellow; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    margin: 2px;

}
.fact-separator{
    display: flex;
    width: 95%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5);
}


#right-aside{
    display: flex;
    width: 10%;
    /* background-color: yellowgreen; */
}

/* Footer */
