
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

:root{
    --font1 : 'Roboto', sans-serif;
    --font2 : 'Black Ops One', cursive;
}
html,body {
    margin:0;
    padding:0;
}
body{
    background: url('../img/background-world2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navigation bar section */
#navbar{
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
/*
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 80px;
    width: 100%;
    opacity: 50%;
    z-index: -1;
}*/
#name-icon{
    display: flex;
    width: 100%;
    height: 80%;
    margin: 1px;
    justify-content: flex-start;
    align-items: center;
}
#name{
    display: flex;
    /* background-color: aqua; */
    background-color: rgba(0, 0, 0,0.5);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.2rem;
    font-family: var(--font2);
    width: 50%;
    height: 100%;
}
#icon{
    display: flex;
    width: 10%;
    height: 80%;
    background: url('../img/icon.png');
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#links{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: flex-end;
    align-items: center;
}
/*
#links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 50%;
}
#links ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
}
#links ul li a{
    display: flex;
    text-decoration: none;
    font-size: 1.5rem;
}
*/

/* Main section */

#main-section{
    display: flex;
    flex-direction: column;
    height: 700px;
    flex-direction: column;
}
#intro-section{
    display: flex;
    flex-direction: row;
    /* background-color: aquamarine; */
    background-color: black;
}
#heading{
    display: flex;
    width: 100%;
    height: 50px;
}
#edit{
    display:  flex;
    justify-content: flex-end;
    width: 100%;
}
#edit a{
    display: flex;
    /* background-color: blue; */
    background-color: green;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    border-radius: 20px;
    width: 10%;
    margin: 5px;
    padding: 5px 5px;
}
#main-container{
    display: flex;
    flex-direction: row;
    /* background-color: burlywood; */
    height: 750px;
}
#left-aside{
    display: flex;
    /* background-color: darkorange; */
    width: 20%;
}
#main-article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: springgreen; */
    /* background-color: white; */
    width: 100%;
    padding: 10px 10px;
}

#topic{
    /* background-color: blue; */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    height: 150px;
    border-radius: 10px;
}
#name-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 3px 3px;
    /* background-color: tomato; */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: solid white 2px;
    border-radius: 10px;
    padding: 0px 10px;
}
#primary-name-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 3px 3px;
    /* background-color: cadetblue; */
    /* background-color: black; */
    padding: 0px 0px;
}
#primary-name{
    text-align: center;
    font-size: 3rem;
    font-family: var(--font1);
    padding: 10px 10px;
}
#official-name-container{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.6rem;
    margin: 3px 3px;
    /* background-color: cadetblue; */
    /* background-color: black; */
}
#official-name{
    text-align: center;
    padding: 5px 5px;
    font-family: var(--font1);
}   
#symbol-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 3px 3px;
    /* background-color: tomato; */
    background-color: rgba(0, 0, 0, 0.5);
}
#flag-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3px 3px;
    /* background-color: cadetblue; */
    /* background-color: black; */
    text-align: center;
}
#emblem-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3px 3px;
    /* background-color: cadetblue; */
    /* background-color: black; */
    text-align: center;
}
#description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    background-color: rgba(0, 0, 0, 0.5);
    height: 150px;
    margin: 3px;
    padding: 5px;
    border-radius: 10px;
}
#description{
    display: flex;
    width: 98%;
    height: 98%;
    padding: 3px 3px;
    /* background-color: yellow; */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: solid white 2px;
    border-radius: 10px;
    padding: 10px 10px;
    font-family: var(--font1);
}
#fact-container1{
    display: flex;
    flex-direction: row;
    height: 200px;
    margin: 3px;
    /* background-color: blue; */
    background-color: rgba(0, 0, 0, 0.5);
    font-family: var(--font1);
}
.sub-fact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#sub-fact-cont1{
    width: 100%;
    margin: 3px;
    /* background-color: tomato; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    border: solid white 2px;
}
#sub-fact-cont2{
    width: 100%;
    margin: 3px;
    /* background-color: tomato; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    border: solid white 2px;
}

#fact-container2{
    display: flex;
    justify-content: center;
    height: 200px;
    margin: 3px;
    /* background-color: blue; */
    background-color: rgba(0, 0, 0, 0.5);
    font-family: var(--font1);
}
#sub-fact-cont3{
    width: 100%;
    margin: 3px;
    /* background-color: tomato; */
    /* background-color: black; */
    border: solid 2px white;
}
.facts{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.fact-label{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 2px;
    /* background-color: yellow;  */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.fact-value{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    /* background-color: yellow; */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 2px;

}
#right-aside{
    display: flex;
    width: 10%;
    /* background-color: yellowgreen; */
}

/* Footer */
