@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

:root{
    --font1 : 'Roboto', sans-serif;
    --font2 : 'Black Ops One', cursive;
}

html,body {
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    background-color: black;
}
/* Navigation bar section */
#navbar{
    display: flex;
    background-color: rgba(255, 255, 255, 0.25);
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0%;
}
#name-icon{
    display: flex;
    width: 100%;
    height: 80%;
    margin: 1px;
    padding: 0px 5px; 
    justify-content: flex-start;
    align-items: center;
}
#name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    font-family: 'Black Ops One', cursive;
    color: white;
    width: 30%;
    height: 100%;
}
#icon{
    display: flex;
    justify-content: center;
    width: 10%;
    height: 100%;
    padding: 0 5px;
}
#links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 80%;
    padding: 0px 10px;
}
.navbar-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 15%;
}
.navbar-link:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar-link a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    font-family: var(--font1);
}

/* Home section */
#home-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    height: 650px;
    padding: 20px 20px;
}

#main-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 30%;
    margin: 30px;
    font-size: 4.5rem;
    text-align: center;
    color: white;
    font-family: 'Black Ops One', cursive;
}
#search-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 350px;
    margin: 10px 10px;
    padding: 3px 3px;
}
#search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 50px;
    
}
#search-box{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    outline: none;
    border-radius: 10px;
    width: 100%;
    height: 80%;
    margin: 3px;
    font-size: 1.3rem;
}
#search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-color: white;
    outline: none;
    color: white;
    border-radius: 25px;
    width: 50%;
    height: 80%;
    margin: 3px;
    font-size: 1.2rem;
}
#search-button:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}
#suggestion-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: white;  */
    border-radius: 10px;
    width: 61%;
    height: 400px;
    margin: 5px;
    padding: 3px 3px;
}
#suggestion-box div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.25);
    width: 100%;
    height: 40px;
    padding: 3px 3px;
    border-radius: 5px;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}
#suggestion-box div:hover, #suggestion-box div.selected {
    background-color: #1e4dd4;
}
/* Countries-section */

#flag-section{
    display: flex;
    justify-content: center;
    background: url('../img/background-world1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1250px;
    padding: 5px 5px;
}
#flag-table{
    display: flex;
    /* background-color: aqua; */
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px 10px;
    margin: 5px;
    border: solid 3px white;
    border-radius: 10px;
}
.row{
    display: flex;
    /* background-color: yellowgreen; */
    justify-content: center;
    width: 100%; 
    height: 100%; 
    padding: 0px 0px;
}
.column{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin: 1px; 
    /* border: 1px solid white; */
    text-align: center;
}
.column img{
    max-width: 100%;
    max-height: 100%;
}

.column:hover{
    /* background-color: lime; */
    cursor: pointer;
    width: 130%;
}
/* Footer */
#footer{
    display: flex;
    height: 50px;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}