<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Countries</title>
    <link rel="stylesheet" href="./style1.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Monoton&display=swap" rel="stylesheet">
</head>
<body> 
    <nav id="navbar">
        <ul>
            <li class="nav-items">
                <a href="">Home</a>
            </li>
            <li class="nav-items">
                <a href="">Quiz</a>
            </li>
            <li class="nav-items">
                <a href=""></a>
            </li>
        </ul>
    </nav>
    <section id="home-section">
        <h1 id="main-heading">Welcome to countries</h1>
        <div id="search-container">
            <input type="text" id="search-box" name="search-text-area" placeholder="Search countries">
        </div>
    </section>
    <section id="countries-section">
        <div id="country-table">
            <div class="row">
                <div class="column" id="afghanistan-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="albania-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="algeria-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="andorra-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="angola-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="antigua-and-barbuda-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="argentina-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="armenia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="australia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="austria-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="azerbaijan-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="bahamas-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="bahrain-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
            <div class="row">
                <div class="column" id="bangladesh-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="barbados-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="belarus-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="belgium-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="belize-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="benin-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="bhutan-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="bolivia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="bosnia-and-herzegovina-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="botswana-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="brazil-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="brunei-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="bulgaria-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
            <div class="row">
                <div class="column" id="burkina-faso-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="burundi-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="cote-d'lvoire-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="cabo-verde-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="cambodia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="cameroon-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="canada-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="car-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="chad-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="chile-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="china-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="colombia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="comoros-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
            <div class="row">
                <div class="column" id="congo-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="costa-rica-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="croatia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="cuba-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="cyprus-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="czechia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="denmark-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="djibouti-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="dominica-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="dominican-republic-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="dprk-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="drc-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="ecuador-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
            <div class="row">
                <div class="column" id="egypt-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="el-salvador-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="equatorial-guinea-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="eritrea-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="estonia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="eswatini-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="ethiopia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="fiji-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="finland-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="france-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="gabon-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="gambia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="georgia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
            <div class="row">
                <div class="column" id="germany-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="ghana-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="greece-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="grenada-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="guatemala-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="guinea-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="guinea-bissau-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="guyana-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="haiti-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="holy-see-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="honduras-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="hungary-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="iceland-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
            <div class="row">
                <div class="column" id="india-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="indonesia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="iran-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="iraq-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="ireland-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="israel-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="italy-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="jamaica-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="japan-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="jordan-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="kazakhstan-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="kenya-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="kiribati-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
            <div class="row">
                <div class="column" id="kuwait-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="kyrgyzstan-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="laos-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="latvia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="lebanon-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="lesotho-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="liberia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="libya-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="liechtenstein-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="lithuania-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="luxembourg-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="madagascar-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="malawi-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
            <div class="row">
                <div class="column" id="malaysia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="maldives-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="mali-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="malta-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="marshall-islands-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="mauritania-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="mauritius-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="mexico-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="micronesia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="moldova-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="monaco-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="mongolia" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="montenegro" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
            <div class="row">
                <div class="column" id="morocco-col" onclick="location.href='country-home.html';">
                        <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="mozambique-col" onclick="location.href='country-home.html';">
                        <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="myanmar-col" onclick="location.href='country-home.html';">
                        <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="namibia-col" onclick="location.href='country-home.html';">
                        <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="nauru-col" onclick="location.href='country-home.html';">
                        <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="nepal-col" onclick="location.href='country-home.html';">
                        <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="netherlands-col" onclick="location.href='country-home.html';">
                        <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="new-zealand-col" onclick="location.href='country-home.html';">
                        <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="nicaragua-col" onclick="location.href='country-home.html';">
                        <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="niger-col" onclick="location.href='country-home.html';">
                        <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="nigeria-col" onclick="location.href='country-home.html';">
                        <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="north-macedonia-col" onclick="location.href='country-home.html';">
                        <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="norway-col" onclick="location.href='country-home.html';">
                        <p>Lorem ipsum dolor</p>
                </div>
                </div>
            <div class="row">
                <div class="column" id="oman-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="pakistan-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="palau-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="panama-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="papua-new-guinea-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="paraguay-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="peru-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="philippines-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="poland-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="portugal-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="qatar-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="romania-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="russia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
            <div class="row">
                <div class="column" id="rwanda-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="saint-kitts-and-nevis-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="saint-lucia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="samoa-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="san-marino-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="sao-tome-and-principe-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="saudi-arabia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="senegal-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="serbia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="seychelles-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="sierra-leone-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="singapore-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="slovakia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
            <div class="row">
                <div class="column" id="slovenia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="solomon-islands-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="somalia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="south-africa-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="south-korea-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="south-sudan-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="spain-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="sri-lanka-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="st-vincent-grenadines-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="state-of-palestine-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="sudan-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="suriname-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="sweden-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
            <div class="row">
                <div class="column" id="switzerland-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="syria-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="tajikistan-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="tanzania-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="thailand-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="timor-leste-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="togo-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="tonga-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="trinidad-and-tobago-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="tunisia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="turkey-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="turkmenistan-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="tuvalu-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
            <div class="row">
                <div class="column" id="uae-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="uk-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="us-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="uganda-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="ukraine-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="uruguay-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="uzbekistan-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="vanuatu-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="venezuela-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="vietnam-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="yemen-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="zambia-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="column" id="zimbabwe-col" onclick="location.href='country-home.html';">
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div id="footer">
            copyright &copy;
        </div>
    </footer>
</body>

<script src="js/jquery-3.5.1.js"></script>
<script src="queries.js"></script>
</html>